name: Scan Repository for Sensitive Data

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
      
      - name: Run scan
        run: |
          source venv/bin/activate
          python asset-scanner/scanner.py --root . --out $RUNNER_TEMP/scan_report.json --no-console --ext .py .md .txt


      ##- name: Upload scan report
      ##  uses: actions/upload-artifact@v4
      ##  with:
       ##   name: scan_report
      ##   path: reports/scan_report.json